@import "tailwindcss";


@theme {
  --font-sans: "Poppins", sans-serif;

  --color-primary: #5BC1E6;
  --color-primary-bg: #E1F0FF;
  --color-secondary: #2E384D;
  --color-secondary-dark:#252E41;
  --color-bg: #F5F7FF;
  --color-grey: #9EA5B0;
  --color-grey-light: #CBD5E1;
  --color-light: #FFFFFF;
  --color-dark: #202021;
  --color-grey-blue: #3C4A63;
  --color-hover-grey:#F3F6F9;
  --color-grey-dark-ligth : #7E8299;

  --color-backg-warning :#FFF4DE;
  --color-tx-warning: #FFA84E;

  --color-drop-border:#F0F0F0;

  --color-backg-danger :#FFE2E5;
  --color-danger:#F64E60;

  --color-backg-success :#C9F7F5;
  --color-success:#1BC5BD;
}

body {
  font-family: var(--font-sans);
}

